/* Assets.module.css */
  
  
  /* .table {
    width: 100%;
    margin-top: 20px;
  } */  
/* 
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('/homebg.png') no-repeat center center fixed;
    background-size: cover;
    justify-content: space-between;
    color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
  }
  
  .totalTokens {
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loading {
    text-align: center;
  }
  
  .loadMore {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
  }
   */
  /* Add more styles as needed */
  
  
  /* Add more styles as needed */
  