/* styles/Home.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('/homebg.png') no-repeat center center fixed;
  background-size: cover;
  justify-content: space-between;
  color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
}

.main {
  text-align: center;
  padding: 0 36px;
  transform: translateY(0);
}

.mintSection {
  text-align: center;
}

.title {
  font-size: 70px;
  margin-bottom: 20px;
  margin-top: 33px;
  font-weight: 900;
}

.mintInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-top: 32px;
}

.mintStatus {
  font-size: 46px;
  font-weight: 900;
}

.mintStats {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.mintStatsTitle {
  font-size: 20px;
}

.mintStatsValue {
  font-size: 20px;
  font-weight: 600;
  margin-top: 9px;
}

.progressBar {
  background: #F5F5F5;
  border-radius: 10px;
  margin-bottom: 44px;
}

.progress {
  background: linear-gradient(to right, #ff6ec4, #7873f5);
  height: 12px;
  border-radius: 10px;
}

.mintBtn {
  background: linear-gradient(138.85deg, rgba(214, 136, 199, 0.5) 11.88%, rgba(63, 98, 145, 0.5) 110.15%);
  color: #F5F5F5;
  border: none;
  border-radius: 8px;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 76px;
  font-size: 20px;
  font-weight: 900;
}

.header {
  padding: 0 3rem;
  background: url('/bar.svg') no-repeat top center;
  margin-top: -1px;
  font-size: 16px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: auto;
  height: auto;
  margin-top: 3px;
}

.xlogo {
  width: auto;
  height: auto;
  cursor: pointer;
}

.protocol {
  width: auto;
  height: auto;
  margin-bottom: 40px;
}

.navbar {
  display: flex;
  gap: 36px;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 60px;
}

.navItem {
  color: #F5F5F5;
  text-decoration: none;
  padding: 0 0 3px;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.navItem:hover {
  color: rgba(255, 255, 255, 0.6);
}

.navInactive {
  color: #F5F5F5;
  opacity: 40%;
  text-decoration: none;
  padding: 0 0 3px;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.connectWalletBtn {
  transition: transform 0.5s ease-out;
  --edge-size: 1.5em;
  background: transparent;
  position: relative;
  border:2px solid #F5F5F5;
  color: #F5F5F5;
  border-radius: 16px;
  margin-bottom:10px;
  width:250px;
  cursor: pointer;
  padding: 0.5em 0.5em;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  clip-path: polygon(
    calc(100% - var(--edge-size)) 0,
    100% var(--edge-size),
    100% 100%,
    var(--edge-size) 100%,
    0% calc(100% - var(--edge-size)),
    0 0);
  font-size: 16px;
  font-weight: 600;
}

.connectWalletBtn:hover {
  border:2px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  padding: 1rem;
  color: #F5F5F5;
  text-align: center;
  transform: translateY(0);
}

.footerContent {
  font-size: 0.875rem;
  margin-top: 20px;
}

.mintProgress {
  --edge-size: 3em;
  background: rgba(238,238,238, 0.3);
  max-width: 1209px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 0 42px;
  clip-path: polygon(calc(100% - var(--edge-size)) 0, 100% var(--edge-size), 100% 100%, var(--edge-size) 100%, 0% calc(100% - var(--edge-size)), 0 0);
}

.progressBarInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
}

.leftNav {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.hamburger {
  display: none;
  margin-top: 28px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.hamburger.active {
  transform: rotate(45deg);
}

.protocolMobile {
  display: none;
  font-size: 16px;
  text-align: left;
  margin: 16px auto 27px auto;
}

.logoMobile {
  width: auto;
  height: auto;
  margin-top: 3px;
  display: none;
  transition: transform 0.5s ease-out;
  position: relative; /* Add this line if it's not already positioned */
}

.main, .hLine, .footer{
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(0); /* Start in the usual position */
}

.hLine {
  display: none; /* Change to block to make it visible */
  border: none;
  color: white;
  text-align: center;
  height: 1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#000));
}

.navOverlay {
  position: fixed;
  top:74px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Responsive styles */
@media (max-width: 1168px) {
  .navContent{
    display: none; 
  }

  .hamburger {
    display: block;
  }

  .logoMobile.menuOpen {
    /* Center the element - assuming the logo is 92px wide as per your code */
    transform: translateX(calc(50vw - 131px)); /* Adjust the 46px if the logo width changes */  }

  .connectWalletBtn.menuOpen {
    transform: translateX(100vw);
  }

  .navContentHbg {
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #000; 
  }

  .hLine.menuOpen, .main.menuOpen, .footer.menuOpen{
    transform: translateY(100vh); 
    transition-delay: 0s;
  }

  .navOverlay:not(.menuOpen) {
    /* Slide out before .hLine and .main slide back in */
    transform: translateX(-100%);
    transition-delay: 0s; /* No delay when sliding out */
  }

  .navItemsCentered {
    text-align: center;
  }

  .navOverlay.menuOpen {
    transform: translateX(0);
    transition-delay: 0.3s; /* Adjust as needed */
  }

  .navItem, .navInactive {
    display: block;
    padding: 25px;
    font-size: 16px;
    color: #F5F5F5;
    text-decoration: none;
    transition: transform 0.3s, opacity 0.3s;
  }

  .navOverlay.menuOpen .navItem:nth-child(1),
  .navOverlay.menuOpen .navInactive:nth-child(1) {
    transition-delay: 0.6s;
  }

  .navOverlay.menuOpen .navItem:nth-child(2),
  .navOverlay.menuOpen .navInactive:nth-child(2) {
    transition-delay: 0.7s;
  }

  .navOverlay.menuOpen .navItem:nth-child(3),
  .navOverlay.menuOpen .navInactive:nth-child(3) {
    transition-delay: 0.8s;
  }

  .navOverlay.menuOpen .navItem:nth-child(4),
  .navOverlay.menuOpen .navInactive:nth-child(4) {
    transition-delay: 0.9s;
  }

  .navItem:hover, .navInactive:hover {
    transform: scale(1.05);
    opacity: 0.7;
  }
}

@media (max-width: 768px) {
  .mintBtn {
    margin-bottom: 52px;
  }

  .mintInfo {
    flex-direction: column;
    gap: 20px
  }

  .protocolMobile{
    display: block;
  }

  .protocol {
    display: none; 
  }

  .title {
    font-size: 40px;
    margin-top: 25px;
    text-align: left;
  }

  .connectWalletBtn {
    width:158px;
    font-size: 12px;
    font-weight: 600;
  }

  .logoMobile {
      display: block;
  }

  .logo{
    display: none;
  }

  .hLine{
    display: block;
  }

  .header {
    padding: 0 36px;
    background: none;
  }

  .connectWalletBtn{
    margin-top: 10px;
  }

  .logoMobile{
    margin-top: 15px;
  }

  .logoMobile{
    margin-top: 15px;
  }

  .mintStatus{
    font-size: 26px;
  }
  
  .mintStatsTitle{
    font-size: 16px;
  }
  
  .mintStatsValue{
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
  }
}

/* styles/Home.module.css */

.mintBtnClosed {
  background: #b3b3b3; /* A neutral, light grey color */
  color: #6e6e6e; /* A darker grey */
  border: none;
  border-radius: 8px;
  padding: 1rem 3rem;
  cursor: not-allowed; /* The 'no-drop' cursor */
  margin-top: 30px;
  margin-bottom: 76px;
  font-size: 20px;
  font-weight: 900;
}

.soldOut {
  color: #fefefe; /* A vibrant red color */
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
}

