/* .tableContainer {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .totalTokens {
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loading {
    text-align: center;
  }
  
  .loadMore {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
  } */
  
  /* .th, .td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #fefefe;
  } */
  
  /* Add more styles as needed */
  